@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($pd-y, $pd-x, $bg-color, $boder, $bd-radius) {
    padding: $pd-y $pd-x;
    background: $bg-color;
    border: $boder;
    border-radius: $bd-radius;
}

@mixin styleBackgroundAbs {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: auto;
    z-index: -1;
    user-select: none;
}

@mixin mediaQueryMinWidth($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (min-width: $value) {
            @content;
        }
    } @else {
        @warn "Screen does not exist";
    }
}

@mixin mediaQuery($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "Screen does not exist";
    }
}