// Color
$color-dark-1: #181818;
$color-dark-2: #b61984;
$color-dark-3: #191919;
$color-dark-4: #aa017e;

$color-light-1: #fff;
$color-light-2: #dcd1f3;

$color-trans-1: #00000033;
$color-trans-2: #0000001a;
$color-trans-3: #ffffff1a;

// Font-size
$fs-1: 0.75rem;
$fs-2: 0.9em;
$fs-3: 0.9rem;
$fs-4: 1.25em;
$fs-5: 1.1rem;
$fs-6: 1.55rem;
$fs-7: 3.8rem;
$fs-8: 15px;
$fs-9: 13px;
$fs-10: 2.3rem;
$fs-11: 0.8em;

// Font-weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 500;
$fw-4: 600;
$fw-5: 700;

// Line-height
$lh-1: 1.8em;
$lh-2: 80px;
$lh-3: 1;
$lh-4: 1.1;
$lh-5: 1.2;
$lh-6: 3.1em;
$lh-7: 38px;

// Height
$height-1: 3.2em;
$height-2: 4em;
$height-3: 80px;
$height-4: 40px;
$height-5: 3.0em;
$height-6: 90px;
$height-7:3.7em;

// Width
$width-1: 150px;

// Padding
$pd-1: 0.8em;
$pd-2: 1em;
$pd-3: 1.1em;
$pd-4: 1.5em;
$pd-5: 2em;
$pd-6: 25px;
$pd-7: 8em;
$pd-8: 50px;
$pd-9: 60px;
$pd-10: 30px;
$pd-11: 20px;
$pd-12: 15px;
$pd-13: 120px;
$pd-14: 3.2em;
$pd-15: 0.8rem;

// Margin
$mg-1: 6px;
$mg-2: 0.5em;
$mg-3: 0.7em;
$mg-4: 1em;
$mg-5: 4em;
$mg-6: 50px;
$mg-7: 20px;
$mg-8: 35px;
$mg-9: 1rem;
$mg-10: 40px;
$mg-11: 45px;
$mg-12: 80px;
$mg-13: 30px;

// Boder
$bd-1: 1px;

// Boder-radius
$bd-radius-1: 10px;
$bd-radius-2: 50px;
$bd-radius-3: 50%;
$bd-radius-4: 20px;
