#header {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    button{
        font-size: $fs-6;
        transition: all 0.1s;
        &:hover{
            font-size: $fs-6+0.2rem;
        }
    }
    .header__navbar {
        justify-content: space-between;
        align-items: center;
        nav {
            padding: 0;
            li {
                padding-right: $pd-8;
                &:hover {
                    a {
                        color: $color-dark-2;
                    }
                }
            }
        }
    }
    img {
        width: $height-3;
        height: auto;
    }
    a {
        @include styleText($color-dark-1, $fs-9, $fw-4);
        line-height: $lh-2;
        padding: 0;
    }
    .header__right {
        line-height: $lh-7;
        font-size: $fs-2;
        .header__button {
            font-size: $fs-3;
            width: auto;
            a {
                box-shadow: 0 0 0 3em $color-dark-2 inset;
                @include styleText($color-light-1, $fs-3, $fw-3);
                padding: $pd-3 $pd-4;
                margin: $mg-1;
                text-decoration: none;
                background: transparent;
                border-radius: $bd-radius-2;
                transition: all 300ms ease;
                &:hover {
                    color: $color-dark-2;
                    box-shadow: 0 0 0 $bd-1 $color-dark-2 inset;
                }
            }
        }
        .header__icon {
            a {
                margin-left: $mg-4;
                &:hover {
                    color: $color-dark-2;
                }
            }
        }
    }
}

// Responsive
@include mediaQuery(extra-large) {
    // Header
    #header {
        background: $color-light-1;
        .header__navbar.d-flex {
            flex-direction: row-reverse;
            justify-content: flex-end;
            .navbar-brand{
                line-height: inherit;
            }
            .header__logo {
                width: 48px;
            }
            nav {
                button {
                    padding: 0;
                    margin-right: $mg-2;
                    span {
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }
}