#portfolio {
    font-family: "Montserrat", sans-serif;
    padding: $pd-9 0;
    position: relative;
    .portfolio__bg__top {
        @include styleBackgroundAbs;
        top: 0;
        left: 0;
    }
    .portfolio__bg__bottom {
        @include styleBackgroundAbs;
        bottom: 0;
        left: 0;
    }
    .container-xl {
        align-items: center;
        p {
            @include styleText($color-dark-2, $fs-5, $fw-4);
            margin-bottom: $mg-2;
        }
        h1 {
            @include styleText($color-dark-3, $fs-7, $fw-5);
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

// Responsive
@include mediaQuery(extra-large){
    #portfolio{
        padding: $pd-13 0 $pd-9 0;
        .container-xl{
            p{
                font-size: $fs-12;
            }
            h1{
                font-size: $fs-13;
                margin-bottom: $mg-10;
            }
        }
    }
}